<!doctype html>
<html ng-app="leaguespark">
  <head>
    <script src="http://code.angularjs.org/1.2.5/angular.min.js"></script>
    <script src="script.js"></script>
  </head>
  <body>
    <div ng-controller="leagueSparkController">
      Free champs :
      <br>
      <div free-champ-rotation></div>
      Summoner :
      <input type="text" ng-model="summonerName">
      API Key :   
      <input type="text" ng-model="apikey" ng-change="changeApiKey()">
      Region : 
      <select ng-model="region" ng-change="changeRegion()">
          <option value="euw">EUW</option>
          <option value="na">NA</option>
      </select>
      <button ng-click="search()">Search</button>
      <br>
      Id : {{summoner.id}}
      <br>
      Wins : {{summoner.stats[0].wins}}
      <br>
      League : {{summoner.league.name}}
      <br>
      History :
      <div match-history games="summoner.games"></div>
      <b>Mastery pages :</b>
      <br>
      <span ng-repeat="page in summoner.masteries">
        {{page.name}}
        <br>
      </span>
      <b>Rune pages :</b>
      <br>
      <span ng-repeat="page in summoner.runes">
        {{page.name}}
        <br>
      </span>
    </div>
  </body>
</html>